.menuDishes{
    background-color: rgb(224, 224, 224);
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.menuDishes-form{
    display: flex;
    gap: 20px;
}
.dish-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    
    > div{
        margin: 10px;
    }
}
.dish-data{
    background-color: blue;
    display: flex;
    gap: 50px;
}
.finishOrder{
    background-color: green;
}

.box{
    background-color: green;
}




.dishes {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .dishes  td, .dishes  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .dishes  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #008cff;
    color: white;
  }