.navbar-container {
    background-color: #363740;
    width: 200px;
    height: 100vh;
    color: #888A96;
}
.header-logo {
    padding:  30px 0 30px 10px;
}
.navbar > div {
    padding: 10px;
}
.navbar > div:hover {
    background-color: #3E4049;
}
.Link{
    color: #888A96;
    text-decoration: none;
}
.Link:active{
    color: #008cff;
}